.portfolio-box-layout__box {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-align: center;
    background-size: cover;
    @media (min-width: $desktop-breakpoint) {
      align-items: center;
      justify-content: center;
      width: 100wh;
      height: auto;
    }
  }

.portfolio-box-layout__box:hover .box-layout__box-text{
  display: block;
}

.portfolio-image {
  max-width: 100%;
  max-height: 100%;
}

.blog-code-bg {
  background-color: #f2f2f2;
  padding: 3px;
}

.blog-code-bg>p {
  margin-left: 3px;
}

.circle {
  height: 5px;
  width: 5px;
  background-color: #555;
  border-radius: 50%;
}