.box-layout {
  // align-items: center;
  background: white;
  // background: #c5b6a6;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-start;
  width: 100vw;
}

.box-layout__box {
  background: white;
  // background: #c5b6a6;
  text-align: center;
  width: 50rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-layout__maxwidth{
  padding: 10px;
}

.box-layout__justifycontent{
  display: flex;
  justify-content: center;
}