.box-layout {
  align-items: center;
  background: white;
  background-size: cover;
  display: flex;
  //height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: white;
  text-align: center;
  width: 50rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
