.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button__share {
  background: #25d366;
}

.button2 {
  background: $blue;
  border: none;
  color: black;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.button--link {
  background: none;
}

.button--link__bl {
  background: white;
  border: none;
  color: black;
  text-decoration: none;
}

.button--secondary {
  background: #888;
}

.whatsapp {
  color: #44BCB8;
}

.button-more-projects {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 5px 2px 20px 2px;
  cursor: pointer;
  // border-radius: 100;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  @media (min-width: $desktop-breakpoint) {
    
  }
}

.button-matpap__disp {
  display: flex;
  // padding: 5px 10px 5px 10px;
  // align-content: center;
  flex-direction: row;
  justify-content: space-between;
  background: $dark-blue;
  border: 2px solid $dark-blue;
}