.header {
  background: $dark-blue;
  border-bottom: 3px solid #84d0d0;
  @media (max-width: $desktop-breakpoint) {
    border: none;
  }
}

.header__content {
  font-family: Helvetica, Arial, sans-serif;
  align-items: center;
  display: flex;
  justify-content: space-between;
  // padding: $s-size 0;

}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}
// ....................
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(12, 5, 19);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  // padding-top: 3px;
  border-top: 3px solid #84d0d0;
  // margin-top: 3px;
  background-color: #364051;
  min-width: 200px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  -webkit-animation-name: navigation2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: navigation2;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.5,.69,.63,.88);
}

@-webkit-keyframes navigation2 {
  from {width: 0;height:0;opacity: 0;}
  to {width: 200px;height:auto;opacity: 1;}
}

@keyframes navigation2 {
  from {width: 0;height:0;opacity: 0;}
  to {width: 200px;height:auto;opacity: 1;}
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: rgb(44, 98, 168);
}

.dropdown:hover .dropdown-content {
  display: block;
}
/////////BLOGS//////////////
.dropdown-blog {
  position: relative;
  display: inline-block;
}

.dropdown-content-blog {
  display: none;
  position: absolute;
  // padding-top: 3px;
  border-top: 3px solid #84d0d0;
  // margin-top: 3px;
  background-color: #364051;
  min-width: 300px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  // right: 300px;
  -webkit-animation-name: navigation3; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: navigation3;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.5,.69,.63,.88);
}

@-webkit-keyframes navigation3 {
  from {width: 0;height:0;opacity: 0;}
  to {width: 300px;height:auto;opacity: 1;}
}

@keyframes navigation3 {
  from {width: 0;height:0;opacity: 0;}
  to {width: 300px;height:auto;opacity: 1;}
}

.dropdown-content-blog a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-blog a:hover {
  background-color: rgb(44, 98, 168);
}

.dropdown-blog:hover .dropdown-content-blog {
  display: block;
}
//////////////////////////////

///////////
.dropbtn-pic {
  // background-color: #4CAF50;
  // color: white;
  // padding: 16px;
  // // font-size: 16px;
  // border: none;
  display: inline-block;
  color: rgb(12, 5, 19);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown-pic {
  position: relative;
  display: inline-block;
}

.dropdown-content-pic {
  // display: none;
  // position: absolute;
  // background-color: #f1f1f1;
  // min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // z-index: 1;
  display: none;
  position: absolute;
  // padding-top: 3px;
  border-top: 3px solid #84d0d0;
  // margin-top: 3px;
  background-color: #364051;
  min-width: 250px;
  left: -200px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // z-index: 1;
  -webkit-animation-name: navigation2; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  animation-name: navigation2;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  // animation-timing-function: cubic-bezier(.5,.69,.63,.88);
}

.dropdown-content-pic div {
  // color: black;
  // padding: 12px 16px;
  // text-decoration: none;
  // display: block;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-pic div:hover {background-color: rgb(44, 98, 168);}

.dropdown-pic:hover .dropdown-content-pic {display: block;}

.dropdown-pic:hover .dropbtn-pic {background-color: #3e8e41;}
/////////////////

.headerLinks-color {
  background: #84d0d0;
}

.header-button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  margin-top: 15px;
  border: 2px;
  border-radius: 5px 5px 0 0;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: 10px 24px 15px 24px;
  text-decoration: none;
}

.header-button--link {
  background: none;
}

.header-button--link-u {
  background: #84d0d0;
  color: black;
}

.header-button--link-u-papers {
  background: white;
  color: black;
}

.header-button--link-u-papers:hover {
  background: $dark-blue;
  color: white;
}

.userProfPic {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}