.list-header {
  background: $off-white;
  border: 1px solid darken($off-white, 7%);
  color: $grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}

.list-body {
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $l-size;
  }
}

.list-item {
  border: 1px solid darken($off-white, 7%);
  // border-top: none;
  color: $dark-grey;
  font-family: 'Merriweather', serif;
  flex-direction: column;
  padding: $s-size;
  text-decoration: none;
  margin: $m-size 0;
  box-shadow: none;
  transition: background .3s ease;
  &:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    background: $off-white;
  }
  @media (min-width: $desktop-breakpoint) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $m-size;
  }
}

.list_papers {
  display: flex;
  flex-direction: column;
}

.list_papers-code {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
}

.list_papers-name {
  margin-bottom:1.6rem;
  line-height: 1.5;
}

.list_papers-slot {
  color: #84d0d0;
}

.list-item--message {
  align-items: center;
  color: $grey;
  justify-content: center;
  padding: $m-size;
  &:hover {
    background: none;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-all;
}

.list-item__sub-title {
  color: $grey;
  font-size: $font-size-small;
}

.list-item__data {
  margin: $s-size 0 0 0;
  @media (min-width: $desktop-breakpoint) {
    margin: 0;
    padding-left: $s-size;
  }
}
