.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    outline: none;
    text-align: left;
    max-width: 80rem;
    border: $dark-blue 3px solid;
    border-radius: 1.2rem;
    margin: 1.2rem;
    max-height: 100vh;
    overflow-y: auto;
}

.modal-new {
    @media (min-width: $desktop-breakpoint) {
        max-width: 50%;
    }
    @media (max-width: $desktop-breakpoint - .01rem) {
        max-width: 35rem;
      }
    outline: none;
    padding: $s-size;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.modal__title {
    background-color: $dark-blue;
    margin: 0;
    padding: $s-size;
    color: #84d0d0;
    border-radius: 0.8rem 0.8rem 0 0;
}

.modal__body {
    font-size: 1.5rem;
    font-weight: 100;
    margin: $s-size; 
}

.modal__footer {
    background-color: $dark-blue;
    margin: 0;
    padding: $s-size;
    color: #84d0d0;
    border-radius: 0 0 0.8rem 0.8rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.modal-page-desktop {
    padding-top: $s-size;
}