.ReactModalPortal>div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: left;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: #3b3b3b;
    // @media (min-width: $desktop-breakpoint) {
    //     max-width: 50%;
    // }
    // @media (max-width: $desktop-breakpoint - .01rem) {
    //     max-width: 35rem;
    //   }
    outline: none;
    padding: $s-size;
    text-align: center; 
}

.modal-new {
    // background: #3b3b3b;
    @media (min-width: $desktop-breakpoint) {
        max-width: 50%;
    }
    @media (max-width: $desktop-breakpoint - .01rem) {
        max-width: 35rem;
      }
    outline: none;
    padding: $s-size;
    text-align: center; 
    display: flex;
    justify-content: center;
}

.modal__title {
    margin: 0 0 $m-size 0;
    color: #84d0d0;
}

.modal__body {
    font-size: 1.5rem;
    // color: white;
    font-weight: 100;
    margin: 0 0 $s-size 0; 
}

.modal-page-desktop {
    // background:#3b3b3b;
    // @media (min-width: $desktop-breakpoint - .01rem) {
    //     height:100vh;
    //     width:100vw;
    //   }
    padding-top: $s-size;
    // padding-bottom: $l-size;
}