.share-button {
    background-color : #25d366;
    //color: white;
    //padding: 10px 20px;
    //border-radius: 4px;
    border-color: #25d366;
    position: fixed;
    box-shadow: white;
    bottom: -4px;
    right: 10px;
}